@import './variables';
 
 /* reset code */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    background-color: $bgcolor;
 }
 
 
 img{
    max-width: 100%;
 }
 
 .container{
    width: 70%;
    margin: auto;
    max-width: 1400px;
    @media (max-width: 1000px){
      width: 80%;
    }
    @media (max-width: 900px){
      width: 85%;
    }
    @media (max-width: 800px){
      width: 90%;
    }
 }

 @mixin future(){
   font-size: 0.9rem;
   font-weight: 200;
   text-align: center;
   position: relative;
   display: inline-block;
   color: $textcolor;
   letter-spacing: 3px;
   text-transform: uppercase;
   
   &::before{
      content: "";
      width: 3rem;
      height: 2px;
      background-color: $befaftcol;
      position: absolute;
      left: -80px;
      top: 50%;
   }

   &::after{
      content: "";
      width: 3rem;
      height: 2px;
      background-color: $befaftcol;
      position: absolute;
      right: -80px;
      top: 50%;
   }
   @media (max-width: 700px){
      font-size: 0.6rem;
      letter-spacing: 2px;
      
      &::before{
         width: 30px;
         height: 1px;
         left: -40px;
      }

      &::after{
         width: 30px;
         height: 1px;
         right: -40px;
      }
   }

   @media (max-width: 500px){
      font-size: 0.5rem;
      letter-spacing: 1px;
      
      &::before{
         width: 20px;
         left: -25px;
      }

      &::after{
         width: 20px;
         right: -25px;
      }
   }
 }
 