@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

$maincolor: #050827;
$textcolor: #1D1F2E;
$bgcolor: #E5E5E5;
$titlecolor: rgba(29, 31, 46, 0.7);
$befaftcol: #ECECED;